.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 30px 20px 10px 20px;

    overflow-y: auto;
}

.title {
    font-size: 26px;
    font-weight: bold;

    margin: 0;
}

.list {
    border-bottom: 1px solid #e0e0e0;

    padding: 0 0 15px 0;

    &:active {
        opacity: 0.5;
    }
}

.listDate {
    gap: 10px;

    opacity: 0.4;

    font-size: 14px;
}