@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

:root {
    --color-background: #fff;
    --color-border: #E5E5E5;
    --color-primary: #FFC13C;
    --color-white: #fff;
    --color-black: #000;

    --color-gray-030: #F2F2F2;
    --color-gray-050: #EBEBEB;
    --color-gray-100: #d0d0d0;
    --color-gray-200: #B5B5B5;
    --color-gray-300: #989898;
    --color-gray-500: #747474;
    --color-gray-600: #585858;
    --color-gray-700: #464646;
  
}

body, html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;

    font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

span {
	font-weight: 500;
}

button {
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

input {
    font-size: inherit;
}

.map_marker {
    background-color: white;

    border-radius: 5px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    span {
        font-size: 10px;

        text-align: center;
    }
}

@keyframes SpinningAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinning {
	animation: SpinningAnimation 7s infinite linear;
}